<footer class="footer">
    <div class="footer__contacts">
        <div class="container">
            <h2 class="main-header">Связаться с нами</h2>

            <div class="footer__contacts-container">
                <div class="footer__contacts-container_left">
                    <div class="footer__contacts__item">
                        <a href="mailto:3140108@gmail.com">
                            <svg
                                    version="1.1"
                                    id="Layer_1"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    x="0px"
                                    y="0px"
                                    viewBox="0 0 512 512"
                                    style="enable-background: new 0 0 512 512"
                                    xml:space="preserve"
                            >
                <path
                        fill="currentColor"
                        d="M10.688,95.156C80.958,154.667,204.26,259.365,240.5,292.01c4.865,4.406,10.083,6.646,15.5,6.646
				c5.406,0,10.615-2.219,15.469-6.604c36.271-32.677,159.573-137.385,229.844-196.896c4.375-3.698,5.042-10.198,1.5-14.719
				C494.625,69.99,482.417,64,469.333,64H42.667c-13.083,0-25.292,5.99-33.479,16.438C5.646,84.958,6.313,91.458,10.688,95.156z"
                />
                                <path
                                        fill="currentColor"
                                        d="M505.813,127.406c-3.781-1.76-8.229-1.146-11.375,1.542C416.51,195.01,317.052,279.688,285.76,307.885
				c-17.563,15.854-41.938,15.854-59.542-0.021c-33.354-30.052-145.042-125-208.656-178.917c-3.167-2.688-7.625-3.281-11.375-1.542
				C2.417,129.156,0,132.927,0,137.083v268.25C0,428.865,19.135,448,42.667,448h426.667C492.865,448,512,428.865,512,405.333
				v-268.25C512,132.927,509.583,129.146,505.813,127.406z"
                                />
              </svg>
                            3140108@gmail.com
                        </a>
                    </div>

                    <div class="footer__contacts__item">
                        <a href="tel:+375293140108">
                            <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="phone-alt"
                                    class="svg-inline--fa fa-phone-alt fa-w-16"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512"
                            >
                                <path
                                        fill="currentColor"
                                        d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"
                                ></path>
                            </svg>
                            +375-29-314-01-08
                        </a>
                    </div>

                    <div class="footer__contacts__item">
                        <a href="tel:+375173704880">
                            <svg
                                    aria-hidden="true"
                                    focusable="false"
                                    data-prefix="fas"
                                    data-icon="phone-alt"
                                    class="svg-inline--fa fa-phone-alt fa-w-16"
                                    role="img"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512"
                            >
                                <path
                                        fill="currentColor"
                                        d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"
                                ></path>
                            </svg>
                            +375-17-370-48-80
                        </a>
                    </div>
                </div>

                <div class="footer__contacts-container_right">
                    <div class="footer__contacts__item">ООО "ТИГ-СЕРВИС"</div>

                    <div class="footer__contacts__item">УНП 191876709</div>

                    <div class="footer__contacts__item">
                        <svg
                                viewBox="0 0 69 69"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <g clip-path="url(#clip0)">
                                <path
                                        d="M68.062 59.6554L54.6245 46.2206C54.0181 45.6141 53.196 45.2772 52.3335 45.2772H50.1369C53.8564 40.52 56.0665 34.5377 56.0665 28.0286C56.0665 12.5453 43.5185 0 28.0339 0C12.5494 0 0 12.5453 0 28.0286C0 43.5118 12.548 56.0571 28.0339 56.0571C34.5431 56.0571 40.5281 53.847 45.2853 50.1274V52.3241C45.2853 53.1866 45.6222 54.0087 46.2287 54.6151L59.6661 68.0499C60.9329 69.3167 62.9814 69.3167 64.2347 68.0499L68.0486 64.236C69.3154 62.9692 69.3154 60.9221 68.062 59.6554V59.6554ZM28.0339 47.4321C17.3147 47.4321 8.62769 38.7613 8.62769 28.0286C8.62769 17.3106 17.2999 8.625 28.0339 8.625C38.7532 8.625 47.4402 17.2958 47.4402 28.0286C47.4402 38.7465 38.768 47.4321 28.0339 47.4321ZM28.0366 15.0938C22.5409 15.0938 18.0855 19.5478 18.0855 25.0435C18.0855 29.4854 24.5893 37.5834 27.0812 40.5227C27.198 40.6625 27.3442 40.775 27.5093 40.8522C27.6744 40.9294 27.8544 40.9694 28.0366 40.9694C28.2189 40.9694 28.3989 40.9294 28.564 40.8522C28.7291 40.775 28.8753 40.6625 28.9921 40.5227C31.4839 37.5834 37.9877 29.4867 37.9877 25.0435C37.9877 19.5478 33.5324 15.0938 28.0366 15.0938V15.0938ZM28.0366 28.0312C26.2496 28.0312 24.8023 26.5825 24.8023 24.7969C24.8023 23.0099 26.251 21.5625 28.0366 21.5625C29.8223 21.5625 31.271 23.0099 31.271 24.7969C31.271 26.5825 29.8223 28.0312 28.0366 28.0312Z"
                                        fill="currentColor"
                                />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="69" height="69" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>

                        220005, г. Минск, ул.Платонова 36, пом. 37.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__nav">
        <div class="container">
            <ul>
                {{#if isIndex}}
                    <li><a class="footer__nav_active" href="/">Главная страница</a></li>
                {{else}}
                    <li><a href="/">Главная страница</a></li>
                {{/if}} {{#if isProducts}}
                <li><a class="footer__nav_active" href="/products">Продукция</a></li>
            {{else}}
                <li><a href="/products">Продукция</a></li>
            {{/if}} {{#if isGallery}}
                <li><a class="footer__nav_active" href="/gallery">Фотогалерея</a></li>
            {{else}}
                <li><a href="/gallery">Фотогалерея</a></li>
            {{/if}} {{#if isCooperation}}
                <li>
                    <a class="footer__nav_active" href="/cooperation">Сотрудничество</a>
                </li>
            {{else}}
                <li><a href="/cooperation">Сотрудничество</a></li>
            {{/if}} {{#if isNews}}
                <li><a class="footer__nav_active" href="/news">Новости</a></li>
            {{else}}
                <li><a href="/news">Новости</a></li>
            {{/if}} {{#if isContacts}}
                <li><a class="footer__nav_active" href="/contacts">Контакты</a></li>
            {{else}}
                <li><a href="/contacts">Контакты</a></li>
            {{/if}}
            </ul>
        </div>
    </div>
</footer>
